<ng-container>
  <div class="content__title">
    <h5>展示各类业务及系统指标。</h5>
  </div>
  <div nz-row [nzGutter]="24" class="pt-lg">
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [title]="'总贫困生数'" total="¥ 126,560" contentHeight="44px" [action]="action1" [footer]="footer1">
        <ng-template #action1>
          <nz-tooltip [nzTitle]="'指标说明'">
            <i nz-tooltip class="anticon anticon-info-circle-o"></i>
          </nz-tooltip>
        </ng-template>
        <trend flag="up" style="display:block; margin-top:2px;">周同比
          <span class="pl-sm">12%</span>
        </trend>
        <trend flag="down">日环比
          <span class="pl-sm">11%</span>
        </trend>
        <ng-template #footer1>
          <p class="text-truncate mb0">日录入数量
            <span class="ml-sm">12,423</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [title]="'访问量'" total="100" contentHeight="46px" [action]="action2" [footer]="footer2">
        <ng-template #action2>
          <nz-tooltip [nzTitle]="'指标说明'">
            <i nz-tooltip class="anticon anticon-info-circle-o"></i>
          </nz-tooltip>
        </ng-template>
        <g2-mini-area color="#975FE4" height="46" [data]="visitData"></g2-mini-area>
        <ng-template #footer2>
          <p class="text-truncate mb0">日访问量
            <span class="ml-sm">222</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [title]="'确认笔数'" total="6,560" contentHeight="46px" [action]="action3" [footer]="footer3">
        <ng-template #action3>
          <nz-tooltip [nzTitle]="'指标说明'">
            <i nz-tooltip class="anticon anticon-info-circle-o"></i>
          </nz-tooltip>
        </ng-template>
        <g2-mini-bar height="46" [data]="visitData"></g2-mini-bar>
        <ng-template #footer3>
          <p class="text-truncate mb0">转化率
            <span class="ml-sm">60%</span>
          </p>
        </ng-template>
      </g2-card>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
      <g2-card [title]="'扶贫活动效果'" total="78%" contentHeight="46px" [action]="action4" [footer]="footer4">
        <ng-template #action4>
          <nz-tooltip [nzTitle]="'指标说明'">
            <i nz-tooltip class="anticon anticon-info-circle-o"></i>
          </nz-tooltip>
        </ng-template>
        <g2-mini-progress height="46" percent="78" strokeWidth="8" target="80" color="#13C2C2"></g2-mini-progress>
        <ng-template #footer4>
          <div class="d-flex justify-content-between">
            <trend flag="up">周同比
              <span class="pl-sm">12%</span>
            </trend>
            <trend flag="down">日环比
              <span class="pl-sm">11%</span>
            </trend>
          </div>
        </ng-template>
      </g2-card>
    </div>
  </div>
</ng-container>

